<br class="clear" />
<br class="clear" />
<br class="clear" />
<br class="clear" />

<div class="col-6 offset-4">
  <h1><%= @workout.exercise %></h1>
  <h2>Sets - <%= @workout.set_number %></h2>
  <h2>Reps - <%= @workout.rep_number %></h2>
  <p><%= link_to 'Give me Another Workout', root_path %></p>
</div>